// Spacing
@for $index from 0 through 50 {
  $val: $index * 2;

  .u-gap-#{$val} {
    gap: #{$val}px;
  }

  .u-top-#{$val} {
    top: #{$val}px;
  }
  .u-right-#{$val} {
    right: #{$val}px;
  }
  .u-left-#{$val} {
    left: #{$val}px;
  }
  .u-bottom-#{$val} {
    bottom: #{$val}px;
  }

  .u-m-#{$val} {
    margin: #{$val}px;
  }
  .u-mv-#{$val} {
    margin: #{$val}px 0;
  }
  .u-mh-#{$val} {
    margin: 0 #{$val}px;
  }
  .u-mt-#{$val} {
    margin-top: #{$val}px;
  }
  .u-mb-#{$val} {
    margin-bottom: #{$val}px;
  }
  .u-ml-#{$val} {
    margin-left: #{$val}px;
  }
  .u-mr-#{$val} {
    margin-right: #{$val}px;
  }

  .u-p-#{$val} {
    padding: #{$val}px;
  }
  .u-pv-#{$val} {
    padding-top: #{$val}px;
    padding-bottom: #{$val}px;
  }
  .u-ph-#{$val} {
    padding-left: #{$val}px;
    padding-right: #{$val}px;
  }
  .u-pt-#{$val} {
    padding-top: #{$val}px;
  }
  .u-pb-#{$val} {
    padding-bottom: #{$val}px;
  }
  .u-pl-#{$val} {
    padding-left: #{$val}px;
  }
  .u-pr-#{$val} {
    padding-right: #{$val}px;
  }
}

// Size
@for $percent from 1 through 20 {
  $val: $percent * 5;
  .u-w-#{$val} {
    width: #{$val + '%'};
  }
  .u-h-#{$val} {
    height: #{$val + '%'}; // <-- ERRO AQUI!
  }
}

.u-w-min-0 {
  min-width: 0;
}

.u-h-min-0 {
  min-height: 0;
}

.u-w-auto {
  width: auto;
}

.u-h-auto {
  height: auto;
}

// Display
.u-pos--relative {
  position: relative;
}

.u-pos--absolute {
  position: absolute;
}

.u-pos--fixed {
  position: fixed;
}

.u-pos--static {
  position: static;
}

.u-float--left {
  float: left;
}

.u-float--right {
  float: right;
}

.u-display--block {
  display: block;
}

.u-display--inline {
  display: inline;
}

.u-display--inline-block {
  display: inline-block;
}

.u-display--none {
  display: none;
}

// Border
@for $r from 0 through 20 {
  $radius: $r * 5;
  .u-br-#{$radius} {
    border-radius: #{$radius}px;
  }
}

.u-border--none {
  border: none;
}

// Overflow
.u-overflow--hidden {
  overflow: hidden;
}

.u-overflow--visible {
  overflow: visible;
}

.u-overflow--auto {
  overflow: auto;
}

.u-overflow-y--auto {
  overflow-y: auto;
}

.u-overflow-x--auto {
  overflow-x: auto;
}

.u-overflow-y--hidden {
  overflow-y: hidden;
}

.u-overflow-x--hidden {
  overflow-x: hidden;
}

.u-overflow-y--visible {
  overflow-y: visible;
}

.u-overflow-x--visible {
  overflow-x: visible;
}

.u-overflow-y--scroll {
  overflow-y: scroll;
}

.u-overflow-x--scroll {
  overflow-x: scroll;
}

// Grid
.grid {
  display: grid;

  &--aiv-center {
    align-items: center;
  }

  &--aiv-start {
    align-items: start;
  }

  &--aiv-end {
    align-items: end;
  }

  &--aih-center {
    justify-items: center;
  }

  &--aih-start {
    justify-items: start;
  }

  &--aih-end {
    justify-items: end;
  }

  &--asv-center {
    align-self: center;
  }

  &--asv-start {
    align-self: start;
  }

  &--asv-end {
    align-self: end;
  }

  &--ash-center {
    justify-self: center;
  }

  &--ash-start {
    justify-self: start;
  }

  &--ash-end {
    justify-self: end;
  }
}